Build/Intermediates/praqtic_ios.build/Debug-iphonesimulator/praqtic_ios.build/Objects-normal/x86_64
Build/Intermediates/Pods.build
Build/Intermediates/praqtic_ios.build
Build/Intermediates/PrecompiledHeaders
Build/Products/Debug-iphoneos
Build
